<% content_for :title, "Dashboard" %>
<div>
  <div class="clear"></div>
  <div id="vue-app">
    <div id="sidebar">
      <family-sidebar :initial_family="<%= current_user.default_family.to_json({include: :family_members}) %>"></family-sidebar>
    </div>
    <div id="main">
      <dish-browser :family_id="<%= current_user.default_family.id %>"></dish-browser>
    </div>
    <div class="clear"></div>
  </div>
</div>
