// Place all the styles related to the FamilyDish controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dish_entry_space {
  .dish_entry {
    border: 1px solid #204A34;
    border-radius: 1em;
    background-color: #A7E3FA;
    margin-bottom: 0.5em;

    .dish_entry_main {
      float: left;
      width: 90%;
      cursor: pointer;

      .dish_entry_name {
        float: left;
        margin-top: 0.3em; 
        margin-bottom: 0.3em; 
        margin-left: 1em;
        min-width: 4em;
        width: 30%;
        overflow: hidden;
      }

      .dish_entry_levels {
        float: left;
        width: 20%;
      }
    }
    .dish_entry_controls {
      float: right;
      width: 10%;

      .dish_edit_button {
        float: right;
        margin: 0.5em;
        cursor: pointer;
      }
    }
  }
}
