// Basic Application Styles and Toolkit


// Variables

$site-background-color: #C6AE82;
$font1: "Tibet";
$left_col_width: 12em;
$left_col_pad: 1em;
$main_col_pad: 1em;

// Fonts

@font-face {
  font-family: 'Tibet';
  src: font-url('TibetanMachineUni.ttf')
}

// Basic Styles

.clear {clear: both !important;}
.left {float: left !important}
.right {float: right !important}
.center {margin: 0px auto !important; width: 50%;}
.center_strict {margin: 0px auto !important; width: 900px !important; }
.center_small {margin: 0px auto !important; width: 250px !important; }
.small {width: 5em !important; }
.med {width: 15em !important; }
.large {width: 30em !important; }
.third {width: 30% !important;}
.half {width: 50% !important;}
.most {width: 80% !important;}
.full {width: 100% !important;}

.hidden {display: none; }

.align-left {text-align: left; }
.align-right {text-align: right; }
.align-center {text-align: center; }

// Notices and Alerts

.messages {
  text-align: center;
}

.message {
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px rgb(39, 0, 0);
  margin: 1em auto;
  //width: 50%;
  padding: 0.3em;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.notice {
  @extend .message;
  background-color: white;

}

.alert {
  @extend .message;
  background-color: rgb(240, 185, 113);
}

// Controls

.tab_bar {
  clear: both;

  .tab {
    float: left;
    background-color: #DDDDDD;
    border-radius: 0.2em;
    padding: 0.3em 0.5em;
    margin: 0.5em 1px;
    cursor: pointer;
  }
  .tab_selected {
    background-color: #2244AA;
    color: #DDDDDD;
  }
}

.tab_section {
  clear: both;
}

// Layout Elements

html {
  background-color: $site-background-color;
}

body {
  margin: 0;
}

.body_container {
  background-color: $site-background-color;
}

.header {
  width: 100%;
  a, a:hover {
    color: #77c;
    text-decoration: none;
  }
  .top_bar {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #D0CFEC;
    color: #484522;
    border-bottom: 4px solid #989572;
    //height: 50px;
    h1 { 
      padding-left: 1.5em;
      font-family : "American Typewriter";
      font-weight: lighter;
    }
    .account_options {
      position: absolute;
      right: 1em;
    }

  }
}

#main {
  float: left;
  position: relative;
  box-sizing: border-box;
  padding: 0.5em 1em;
  width: calc(100% - 10em);
  overflow: hidden;

  h1 {
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
    padding: 0.4em 0;
    font-family: $font1;
  }
  h2 {
    font-family: $font1;
  }
}

.footer {
  float: left;
  clear: both;
  width: 100%;
}

// Common elements

.right_pop_pane {
  position: absolute;
  left: 100%;
  border: 3px solid black;
  border-radius: 0 1em;
  margin: 0 1em;
  padding: 1em;
  background-color: white;
}
